body {
    background-color: rgb(247, 246, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    font-family: "Comic Relief", system-ui;
    font-weight: 200;
    text-align: center;
}

#poke-img-div {
    text-align: center;
}

#poke-input {
    display: block;
    padding: 10px;
    font-size: 16px;
    border-radius: 24px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
}

#poke-img {
    width: 200px;
    height: 200px;
    filter: brightness(0) contrast(0) invert(1);
}

@keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-2px); }
    20% { transform: translateX(2px); }
    30% { transform: translateX(-2px); }
    40% { transform: translateX(2px); }
    50% { transform: translateX(-2px); }
    60% { transform: translateX(2px); }
    70% { transform: translateX(-2px); }
    80% { transform: translateX(2px); }
    90% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
}